@use "./bloks/header";
@use "./bloks/hero";
@use "./bloks/popular";
@use "./bloks/rent";
@use "./bloks/explore";
@use "./bloks/amazing";
@use "./bloks/brend";
@use "./bloks/frequently.scss";
@use "./bloks/recommended";
@use "./bloks/footer";

@font-face {
  font-family: DM Sans;
  src: url(../fonts/Dm_sans/static/DMSans-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

@font-face {
  font-family: DM Sans;
  src: url(../fonts/Dm_sans/static/DMSans-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

#loading {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.5s;
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top: 10px solid rgb(129, 195, 223);
  animation: loading 0.8s ease infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-none {
  display: none !important;
  z-index: -1;
}

#backtop {
  bottom: 0px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 50%;
  position: fixed;
  opacity: 0;
  z-index: 100 !important;
  transition: 0.3s linear;
  border: none;
  outline: none;
  border: 3px solid #fff;
  box-shadow: #fff 0px 5px 15px;
  background-color: #3b71fe !important;
}

#backtop.backtop-show {
  opacity: 1;
  margin-bottom: 20px;

  svg {
    fill: #fff !important;
  }
}
